@font-face { font-family: 'nnixbook'; src: url("/fonts/nnixbook.woff2") format("woff2"); }
@font-face { font-family: 'nnixitalic'; src: url("/fonts/nnixitalic.woff2") format("woff2"); }
@font-face { font-family: 'nnixbold'; src: url("/fonts/nnixbold.woff2") format("woff2"); }
@font-face { font-family: 'nnixmono'; src: url("/fonts/nnixmono.woff") format("woff"); }
@font-face { font-family: 'nnixmedium'; src: url("/fonts/nnixmedium.woff2") format("woff2"); }
:root { --bg-color: #f2f2f2; --secondary-bg-color: #d9d9d9; --border-radius: 15px; }
html, body { background-color: var(--bg-color); margin: 0; padding: 0; }
main { max-width: 80ch; padding: 2ch; margin: auto; font-family: 'nnixbook'; font-size: 100%; line-height: 1.6; min-height: 100vh; }
code, pre, tt, kbd, samp { overflow-wrap: break-word; word-wrap: break-word; white-space: pre-wrap; overflow-x: auto; width: 100%; box-sizing: border-box; background-color: var(--secondary-bg-color); font-family: "nnixmono"; font-size: 90%; }
.subtle-mono { font-size: 90%; font-family: "nnixmono"; color: var(--secondary-bg-color); }
h1 { font-family: 'nnixbold'; font-weight: normal; font-size: 2.07em; }
h2 { font-family: 'nnixbold'; font-weight: normal; font-size: 1.54em; }
h3 { font-family: 'nnixitalic'; font-weight: normal; font-size: 1.16em; }
emph { font-family: 'nnixbook'; font-weight: normal; font-size: 1.16em; }
b { font-family: 'nnixbold'; font-weight: normal; font-size: inherit; }
footer { max-width: 80ch; padding: 2ch; margin: auto; font-family: 'nnixfont'; }
a:link, a:visited { color: inherit; font-family: 'nnixmedium'; text-decoration: underline; }
a:hover, a:focus { text-decoration: none; color:#00008B; }
img { border-radius: var(--border-radius); max-width: 100%; height: auto; }
.smallfeature { border-radius: var(--border-radius); display: block; margin: 1rem auto; width: clamp(50%, 80%, 300px); }
figure { margin: 0 0 1em; }
ul { margin-left: 1em; padding: 0; list-style: none; }
ul li::before { content: "+"; padding-right: 4px; }
ul.ing li::before { content: none; padding-right: 0; }
li ul { margin-left: 2em; }
table { border-collapse: collapse; }
td { background-color: var(--bg-color); overflow: hidden; text-align: left; word-break: normal; padding: 5px 20px; font-size: 100%; }
th { font-family: 'nnixbold'; font-weight: normal; background-color: var(--secondary-bg-color); text-align: left; padding: 8px 15px; border-radius: var(--border-radius); border: 2px solid var(--bg-color); font-size: 100%; }
.timeline { max-width: 600px; margin: 0 auto; padding: 0; border-left: 2px solid #000000; }
.timeline-item { position: relative; margin: 20px 0; padding-left: 20px; }
.timeline-item::before { content: ""; position: absolute; top: 0; left: -6px; width: 12px; height: 12px; background-color: #000000; border-radius: 50%; }
.date { font-family: 'nnixmedium'; margin-bottom: 5px; color: inherit; }
.event { background: #fff; padding: 10px; border-radius: var(--border-radius); }
