<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
    {% include "head.html" %}
</head>
<body>
      <main>
          {% block content %}
          {% endblock content %}
          <p style="margin-top:64px;">
          <a href="/">home</a> |
          <a href="https://github.com/davidemerson">github</a> |
          <a rel="me" href="https://merveilles.town/@d">mastodon</a>
          </p>
          <p class="subtle">built {{ config.extra.epoch }}</p>
          <p>
          <a href="https://webring.xxiivv.com/#xxiivv" target="_blank" rel="noopener noreferrer">
          <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV webring" width="48" height="48">
          </a>
          </p>
      </main>
</body>
</html>