{# Tera 2 components. Available in every template and in markdown content, no import needed. #}

{% component img(id: string, alt: string = "", class: string = "", caption: string = "") %}
<div {% if class %}class="{{class}}"{% endif %}>
  <img src="{{id}}" {% if alt %}alt="{{alt}}"{% endif %} loading="lazy">
  {% if caption %}<div class="caption">{{caption}}</div>{% endif %}
</div>
{% endcomponent img %}

{% component mark() %}
<mark>{{ body }}</mark>
{% endcomponent mark %}

{% component youtube(id: string, autoplay: bool = false, class: string = "") %}
<div {% if class %}class="{{class}}"{% endif %}>
    <iframe
        src="https://www.youtube-nocookie.com/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</div>
{% endcomponent youtube %}
