{% extends "base.html" %}

{% block content %}
<div><a href=".."><<<</a></div>
<h1>{{ section.title }}</h1>

{{ section.content | safe }}
{% set pages = section.pages %}
{% set categories = config.extra.food_categories %}

<h2>categories</h2>
<ul class="spaced">
{% for slug, label in categories %}
  <li><a href="/foodcategory/{{ slug }}/">{{ label }}</a></li>
{% endfor %}
</ul>

{% for slug, label in categories %}
<h2 id="{{ slug }}">{{ label }}</h2>
<ul class="spaced">
{% for page in pages %}
  {% if page.taxonomies.foodcategory and page.taxonomies.foodcategory[0] == slug %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
{% endfor %}

{% endblock %}
