<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- preload critical font -->
<link rel="preload" href="/fonts/nnixbook.woff2" as="font" type="font/woff2" crossorigin>

<!-- opengraph and favicons -->
<link rel="icon" href="{{ get_url(path='favicon.svg', trailing_slash=false) | safe }}?v=2">
<meta property="og:image" content="{{ get_url(path='nnix.png', trailing_slash=false) | safe }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='apple-touch-icon.png', trailing_slash=false) | safe }}">
<link rel="manifest" href="{{ get_url(path='manifest.json', trailing_slash=false) | safe }}">
<link rel="alternate" type="application/rss+xml" title="nnix.com" href="{{ get_url(path='rss.xml', trailing_slash=false) | safe }}">
<link rel="mask-icon" href="{{ get_url(path='safari-pinned-tab.svg', trailing_slash=false) | safe }}" color="#000000">
<meta name="msapplication-TileColor" content="#f2f2f2">
<meta name="theme-color" content="#f2f2f2">
<!-- opengraph and favicons -->

<meta name="robots" content="index, follow">
{% set title = page?.title or section?.title or config.title %}
{% set author = page?.extra?.author or section?.extra?.author or config.extra.author %}
{% set description = (page?.description or section?.description or config.description) | truncate(length=150) %}
{% set url = page?.permalink or section?.permalink or config.base_url %}
{% if title %}
<title>{{ title }}</title>
{% endif %}
{% block metatags %}
{% if title %}
<meta name="title" content="{{ title }}">
{% endif %}
{% if author %}
<meta name="author" content="{{ author }}">
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url | safe }}">
{% if title %}
<meta property="og:site_name" content="{{ config.title }}">
{% endif %}
{% if title %}
<meta property="og:title" content="{{ title }}">
{% endif %}
{% if description %}
<meta property="og:description" content="{{ description }}">
{% endif %}
<link rel="canonical" href="{{ url | safe }}">
{% endblock metatags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ get_url(path='/style.css', trailing_slash=false) | safe }}"/>
{% endblock css %}

<script type="application/ld+json">
{"name":"nnix",
"description":"{{ description }}",
"@type":"WebSite",
"url":"{{ url | safe }}",
"sameAs" : [
   "https://davidemerson.com",
   "https://nnix.com",
   "https://cherubgyre.com",
   "https://refmark.com",
   "https://www.linkedin.com/in/davidemerson",
   "https://github.com/davidemerson",
   "https://merveilles.town/@d"
   ],
"headline":"{{ title }}",
"@context":"http://schema.org"}</script>
<style>* { cursor: url("/icons/cursor.png"), auto; } </style>
<meta name="format-detection" content="telephone=no">