{% extends "base.html" %}

{% block content %}
<div><a href=".."><<<</a></div>
<h1>{{ section.title }}</h1>

{{ section.content | safe }}
{% set pages = section.pages %}

<ul>
{% for page in pages %}
  <li>
    {{ page.taxonomies.authorsurname[0] | default(value="") }}, {{ page.taxonomies.authorfirstname[0] | default(value="") }}.
    ({{ page.taxonomies.pubyear[0] | default(value="") }}).
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>.
    Recommended by {{ page.taxonomies.recommender[0] | default(value="") }}.
    Rated {{ page.taxonomies.rating[0] | default(value="") }}/5.
  </li>
{% endfor %}
</ul>
{% endblock %}