{% extends "base.html" %}

{% block content %}
<div><a href=".."><<<</a></div>

<h1>{{ page.title }}</h1>
<p><emph><time datetime="{{ page.date }}">↻ {{ page.date }}</time></emph></p>

{% if page.toc and page.extra.toc %}
<ul>
  {% for h1 in page.toc %}
  <li>
    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ul>
      {% for h2 in h1.children %}
      <li>
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        <ul>
          {% for h3 in h2.children %}
          <li>
            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

<div>
 <table>
    {% if page.taxonomies.authorname and page.taxonomies.authorname | length > 0 %}
    <tr>
        <td><b>Author</b></td>
        <td>{{ page.taxonomies.authorname[0] }}</td>
    </tr>
    {% endif %}
    {% if page.taxonomies.pubyear and page.taxonomies.pubyear | length > 0 %}
    <tr>
        <td><b>Published</b></td>
        <td>{{ page.taxonomies.pubyear[0] }}</td>
    </tr>
    {% endif %}
    {% if page.taxonomies.readstate and page.taxonomies.readstate | length > 0 %}
    <tr>
        <td><b>Status</b></td>
        <td>{{ page.taxonomies.readstate[0] }}</td>
    </tr>
    {% endif %}
    {% if page.taxonomies.recommender and page.taxonomies.recommender | length > 0 %}
    <tr>
        <td><b>Recommender</b></td>
        <td>
          <a href="{{ get_taxonomy_url(kind="recommender", name=page.taxonomies.recommender[0]) }}">
            {{ page.taxonomies.recommender[0] }}
          </a>
        </td>
    </tr>
    {% endif %}
    {% if page.taxonomies.rating and page.taxonomies.rating | length > 0 %}
    <tr>
        <td><b>Rating</b></td>
        <td>{{ page.taxonomies.rating[0] }}/5</td>
    </tr>
    {% endif %}
</table>
</div>

{{ page.content | safe }}
{% endblock content %}