{% extends "base.html" %}

{% block content %}
<div><a href=".."><<<</a></div>
<h1>{{ section.title }}</h1>

{{ section.content | safe }}
{% set pages = section.pages %}

<h2>currently</h2>
<ul>
{% for page in pages %}
  {% if page.taxonomies.readstate and page.taxonomies.readstate[0] == "reading" %}
  <p><li>
    {{ page.taxonomies.authorname[0] | default(value="") }}.
    ({{ page.taxonomies.pubyear[0] | default(value="") }}).
    <a href="{{ page.permalink | safe }}"><i>{{ page.title }}</i></a>.
  </li></p>
  {% endif %}
{% endfor %}
</ul>

<h2>recently finished</h2>
<ul>
{% set recent_books = section.pages | sort(attribute="date") | reverse %}
{% set counter = 0 %}

{% for page in recent_books %}
  {% if page.taxonomies.readstate and page.taxonomies.readstate[0] == "read" %}
    {% if counter < 7 %}
      <p><li>
        {{ page.taxonomies.authorname[0] | default(value="") }}.
        ({{ page.taxonomies.pubyear[0] | default(value="") }}).
        <a href="{{ page.permalink | safe }}"><i>{{ page.title }}</i></a>. 
        {% if page.taxonomies.rating and page.taxonomies.rating | length > 0 %}
        (rated {{ page.taxonomies.rating[0] }}/5)
        {% endif %}
      </li></p>
      {% set_global counter = counter + 1 %}
    {% endif %}
  {% endif %}
  {% if counter >= 7 %}
    {% break %}
  {% endif %}
{% endfor %}
</ul>

<h2>favorite all-time</h2>
<ul>
{% for page in pages %}
  {% if page.taxonomies.rating and page.taxonomies.rating[0] == "5" %}
  <p><li>
    {{ page.taxonomies.authorname[0] | default(value="") }}.
    ({{ page.taxonomies.pubyear[0] | default(value="") }}).
    <a href="{{ page.permalink | safe }}"><i>{{ page.title }}</i></a>.
  </li></p>
  {% endif %}
{% endfor %}
</ul>

<h1>tagged books</h1>
<ul>
  <p><li>
    <a href="https://nnix.com/recommender/">by recommender</a>
  </li></p>
  <p><li>
    <a href="https://nnix.com/rating/">by rating</a>
  </li></p>
  <p><li>
    <a href="https://nnix.com/pubyear/">by publication year</a>
  </li></p>
  <p><li>
    <a href="https://nnix.com/authorname/">by author</a>
  </li></p>
</ul>

<h1>unread (queue)</h1>
<ul>
{% for page in pages %}
  {% if page.taxonomies.readstate and page.taxonomies.readstate[0] == "queue" %}
  <p><li>
    {{ page.taxonomies.authorname[0] | default(value="") }}.
    ({{ page.taxonomies.pubyear[0] | default(value="") }}).
    <a href="{{ page.permalink | safe }}"><i>{{ page.title }}</i></a>. 
    {% if page.taxonomies.recommender and page.taxonomies.recommender | length > 0 %}
    (recommended by {{ page.taxonomies.recommender[0] }})
    {% endif %}
  </li></p>
  {% endif %}
{% endfor %}
</ul>

{% endblock %}