{% extends "index.html" %}

{% block content %}
<div><a href=".."><<<</a></div>
<h1 class="title">{{ taxonomy.name }}: {{ term.name }}</h1>
<ul class="spaced">
{% for page in term.pages %}
  {% if page.taxonomies.authorname %}
  <li>
    {{ page.taxonomies.authorname[0] }}.
    ({{ page.taxonomies.pubyear?[0] or "" }}).
    <a href="{{ page.permalink | safe }}"><i>{{ page.title }}</i></a>.
  </li>
  {% else %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
{% endblock content %}
